argparse
gridpp==0.6.0
# matplotlib
netCDF4<1.6.0
numpy
pyyaml
tensorflow==2.6.0
mlflow==2.2.2
protobuf==3.20.3
google-auth==2.16.0
oauthlib==3.2.2
packaging==23.0
tqdm
scipy
PyYAML
xarray
dask
# # -e git+ssh://git@github.com/ndryden/deep500.git#egg=deep500
# -onnx==1.12.0  # We can't use 1.13.0 on julich, since there we don't have the latest protobuf
# --e ../deep500
